---
layout: month
title: Noraworld Diary
---

<table style="margin: 0 auto 60px; width: 100%; table-layout: fixed;">
  <thead>
    <tr>
      {% for page in site.pages %}
        {% if page.layout == 'page' %}
          <th style="text-align: center;"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
</table>

{% for post in paginator.posts %}
  <h3 style="text-align: center;"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%Y-%m-%d" }}</a></h3>
  <div class="content" style="margin-bottom: 60px;">
    {{ post.content | strip_html | truncate: 300 }}
  </div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>
