name: Build and Deploy Jekyll

on:
  push:
    branches:
      - main
    paths:
      - '_posts/**'
  workflow_call:
  workflow_dispatch:

jobs:
  build_and_deploy:
    uses: noraworld/jekyll-build-pages/.github/workflows/jekyll-gh-pages.yml@main
    with:
      ref: main
